/* main */
#bottom {
    -fx-background-color: #b2b2b2;
}

#left, #right {
    -fx-background-color: #dedede;
}

#header-text {
    -fx-font-weight: bold;
}

/* leader */
#leader-item {
    -fx-font-weight: bold;
}

/* invitations */
#invited-player-item {
    -fx-font-style: italic;
}
